img {
    width: 100%;
}


a {
    font-family: 'Helvetica Neue light', sans-serif;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
    color: #5A5A5A;
    text-align: center;
    text-decoration: none;

}

h1 {
    font-family: 'Codystar', cursive;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 80%;
    overflow: hidden;

}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    font-weight: 200;
    text-transform: uppercase;
    color: #5A5A5A;
    text-align: center;
}

p {
    font-family: 'Helvetica Neue light', sans-serif;
    color: black;
    font-weight: 100;
    color: #939191;
}



@media (min-width: 800px) {

    nav .menu {
        border: 1px solid #DDDDDD;
        padding: 0.5rem;
    }

    header {
        position: relative;
        height: 0;
        box-sizing: border-box;
        text-align: center;
    }

    nav .menu {
        display: inline-block;

    }

    nav a {
        font-family: 'Helvetica Neue light', sans-serif;
        color: #5A5A5A;
        font-weight: 100;
        text-transform: uppercase;
        padding-left: 15vw;
        padding-right: 12vw;
        text-align: center;
        text-decoration: none;

    }

    nav a:hover {
        color: #DDDDDD;
    }

    .logo_burgermenu {
        display: none;
    }

    #menuknap_wrapper {
        display: none;
    }

    nav #section_wrapper {
        display: none;
    }



    footer {
        position: relative;
        height: 0;
        box-sizing: border-box;
        text-align: center;
        margin: 2vw;
        opacity: 50%;
    }

    .facebook {
        width: 2rem;
        height: 2rem;
        padding-left: 11vw;
        padding-right: 11vw;
    }

    .instagram {
        width: 2rem;
        height: 2rem;
        padding-left: 11vw;
        padding-right: 11vw;
    }

    .linkedin {
        width: 2rem;
        height: 2rem;
        padding-left: 11vw;
        padding-right: 11vw;
    }


}

.hidden {
    opacity: 0;
    cursor: pointer;
    display: none;
}


@media (max-width: 800px) {

    main {
        line-height: 1.7;
        margin-top: -1rem;
    }

    .menu {
        display: none;

    }

    nav .section_wrapper {
        background-color: white;
    }

    #menu1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 13rem 4rem 4rem 4rem;
        position: absolute;
        background-color: white;
        margin-left: 0rem;
        padding-left: 0rem;

    }

    #menuknap {
        margin: 0.5rem;
        margin-top: 1rem;
    }

    #menu1 {
        position: absolute;
        padding: 0.5rem;
        text-align: center;
        background-color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 100;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 34px;
        height: 1px;
        background-color: #5A5A5A;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-2px, 8px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-2px, -8px);
    }

    #menu1 img {
        width: 45%;
        margin-left: -0.7rem;
    }


    footer {
        position: relative;
        height: 0;
        box-sizing: border-box;
        text-align: center;
        margin: 2vw;
        opacity: 50%;
    }

    .facebook {
        width: 3.5rem;
        height: 3.5rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .instagram {
        width: 3.5rem;
        height: 3.5rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .linkedin {
        width: 3.5rem;
        height: 3.5rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }


}

#page_container {
    animation: fadeIn ease 2s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
